*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #000000;
  background: linear-gradient(112deg, #7BBE5B 8.35%, rgba(154, 37, 245, 0.00) 100%);
  font-family: Kiwi Maru;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
